<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un employé</title>
    <!-- <link rel="stylesheet" href="css/addEmp.css">-->

    <style>
        /* add.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}

    </style>
</head>
<body>
    <div class="container">
        <h1>Ajouter un employé</h1>
        <form action="<%= serviceURL %>/addEmployee" method="post">
            <div class="form-group">
                <label for="name">Nom de l'employé:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="salary">Salaire de l'employé:</label>
                <input type="number" id="salary" name="salary" class="form-control" required>
            </div>
            <div class="button-group">
                <button type="submit" class="btn btn-primary">Ajouter</button>
                <button class="btn btn-secondary" onclick="history.back()">Retour</button>
            </div>
        </form>
    </div>
</body>
</html>
